controller:
    config:
        client-header-buffer-size: 64k
        large-client-header-buffers: 4 64k
        http2-max-header-size: 128k
        proxy-body-size: 40m
        proxy-buffer-size: 128k
        proxy-buffers: 4 256k